.page__content4 {
  flex-grow: 1;
  background: var(--bg-content4);
  padding: 80px 0;
}

.video {
  padding: 152px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__title {
  text-align: center;
  max-width: 522px;
  margin: 0 auto;
}

.video__title-bg {
  border-radius: 20px;
  padding: 0 12px;
  background: var(--color-green-4EAF4E);
  display: inline-block;
  margin-bottom: 22px;
}

.video__title-bg span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.48;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: var(--text-light);
}

.video__title-text {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 1.16;
  color: var(--text-light);
  margin-bottom: 40px;
}

.video__title img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

@media (max-width: 992px) {
  .video__title-text {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  .video {
    padding: 80px 0;
  }

  .video__title-text {
    font-size: 32px;
  }
}

@media (max-width: 576px) {
  .video__title-text {
    font-size: 28px;
  }
}
