.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page__topbar {
  flex-shrink: 0;
  background-color: var(--color-black-181818);
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 0;
}

.topbar__icon {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.topbar__text {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  color: var(--color-white-FFFFFF);
}

.topbar__group {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 10px;
}

.topbar__follow {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.topbar__social {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 0 0 auto;
}

.page__header {
  flex-shrink: 0;
  background-color: var(--color-black-1B1B1B);
  opacity: 0.91;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

.header__item {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 0 0 auto;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 11px;
  flex: 0 0 auto;
}

.header__logo__text {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  color: var(--color-white-FFFFFF);
  font-size: 30px;
}

.header__navbar {
  display: flex;
  align-items: center;
  gap: 30px;
  flex: 0 0 auto;
}

.header__navbar__home {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 8px;
  color: var(--color-green-5AB612);
  font-size: 18px;
}

.header__navbar__item {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 0 0 auto;
  color: var(--color-white-FFFFFF);
  font-size: 18px;
}

.header__phone {
  display: flex;
  align-items: center;
  gap: 11px;
  color: var(--color-black-353535);
  background: var(--color-white-FFFFFF);
  font-size: 18px;
  flex: 0 0 auto;
  border-radius: 42px;
  overflow: hidden;
  padding: 10px 41px 8px 8px;
}

.page__content1 {
  flex-grow: 1;
  background: url(images/Content1_background.png);
  max-height: 487px;
}
.page__content2 {
  flex-grow: 1;
  background: #f5f5f5;
  height: 893px;
}
.page__content3{
  flex-grow: 1;
  background: #fff;
  height: 818px;
}
.page__footer {
  flex-shrink: 0;
  background: rgba(24, 24, 24, 0.9);
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 40px 360px;
  /* height: 488px; */
}
.footer__item-content {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 0 0 auto;
  flex-direction: row;
}
.footer__item-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 0 0 auto;
  flex-direction: row;
}
/* .footer__item-logo-2{
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 0 0 auto; */

.footer__item-content-content {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 0 0 auto;
  flex-direction: column;
}
.footer__item-content-content-text {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 0 0 auto;
  /* flex-direction: row; */
}

.footer__item-content-content-button {
  background: var(--color-white);
  color: var(--color-black);
  border-radius: 42px;
  overflow: hidden;
  padding: 23px;
}

.content {
}

.content__item {
}

.content__item-banner {
  padding: 143px 260px;
}
.content__item-banner1 {
  border-radius: 20px;
  padding: 0px 15px;
  width: 182px;
  height: 24px;
  background: #ffcc4a;
}
.content__item-banner2 {
  border-radius: 29px;
  padding: 48px 60px;
  width: 465px;
  height: 199px;
  backdrop-filter: blur(11px);
  background: rgba(255, 255, 255, 0.85);
  color: #181818;
}
.content__item-banner3 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 116%;
}
.content__item-banner4 {
  border-radius: 20px;
  padding: 0px 15px;
  width: 182px;
  height: 24px;
}
.content__item-banner-padding {
  height: 487px;
}
.content__item-services {
  height: 596px;
}
.content__item-services-text {
  /* width: 1607px; */
  padding-top: 149px;
  padding-bottom: 149px;
  padding-left: 156px;
  padding-right: 156px;
}
.content__item-servicies-text-title {
  /* width: 1197px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 225px;
  /* padding-top: 150px; */
}
.content__item-servicies-text-title-title {
  width: 648px;
  /* height: 225px; */
  
  /* flex: 1; */
}
.content__item-services-text1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 116%;
  color: var(--color-black-181818);
}
.content__item-services-text2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: var(--color-gray-595566);
}
.content__item-servicies-text-title-navigation1 {
  display: flex;
  flex-direction: row; 
  /* gap: 10px;  */
  align-items: center;
  /* border-radius: 100%;
  overflow: hidden; */

}
.content__item-services-navbutton{
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%; 
  overflow: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__item-services-content-block1{

  border-radius: 20px;
  padding: 44px 35px;
  width: 345px;
  height: 247px;
  background: #ebebeb;
}
.content__item-services-content-block2{
  border-radius: 20px;
  padding: 45px 33px;
  width: 379px;
  height: 301px;
  background: #181818;
}
.content__item-services-content-block3{
  border-radius: 20px;
  padding: 45px 39px;
  width: 377px;
  height: 279px;
  background: #ebebeb;
}
.content__item-services-content-block4{
  border-radius: 20px;
  padding: 37px 39px;
  width: 377px;
  height: 271px;
  background: #ebebeb;
}
.content__item-services-text3{
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 25px;
  line-height: 116%;
  color: #181818;
}
.content__item-services-text4{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #595566;
}
.content__item-services-text5{
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 25px;
  line-height: 116%;
  color: #fff;
}
.content__item-services-text6{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #fff;
}
.content__item-services-text7{
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 25px;
  line-height: 116%;
  color: #181818;
}
.content__item-services-text8{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #595566;
}
.content__item-services-text9{
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 25px;
  line-height: 116%;
  color: #181818;
}
.content__item-services-text10{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #595566;
}
.content__item-services-text11{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #181818;
}
.content__item-services-text12{
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 116%;
  color: #181818;
}
.content__item-services-text13{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #595566;
}
.content__item-services-text14{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 116%;
  color: #595566;
}
.content__item-services-content{
  display: flex;
  flex-direction: row;
}
.content__item-whattoexpect{
  display: flex;
  flex-direction: row;
  width: 1292px;
  height: 462px;
}
.content__item-whattoexpect2{
  display: flex;
  flex-direction: column;
  width: 481px;
  height: 317px;
}
.content__item-services-row{
  display: flex;
  flex-direction: row;
}
.content__item-whattoexpect-bg{
  border-radius: 20px;
  padding: 0px 12px;
  width: 249px;
  height: 24px;
  background: #ffcc4a;
}

