.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page__topbar {
  flex-shrink: 0;
  background-color: var(--color-black-181818);
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 0;
}

.topbar__icon {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.topbar__text {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  color: var(--color-white-FFFFFF);
}

.topbar__group {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 10px;
}

.topbar__follow {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.topbar__social {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 0 0 auto;
}

.page__header {
  flex-shrink: 0;
  background-color: var(--color-black-1B1B1B);
  opacity: 0.91;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

.header__item {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 0 0 auto;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 11px;
  flex: 0 0 auto;
}

.header__logo__text {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  color: var(--color-white-FFFFFF);
  font-size: 30px;
}

.header__navbar {
  display: flex;
  align-items: center;
  gap: 30px;
  flex: 0 0 auto;
}

.header__navbar__home {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 8px;
  color: var(--color-green-5AB612);
  font-size: 18px;
}

.header__navbar__item {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 0 0 auto;
  color: var(--color-white-FFFFFF);
  font-size: 18px;
}

.header__phone {
  display: flex;
  align-items: center;
  gap: 11px;
  color: var(--color-black-353535);
  background: var(--color-white-FFFFFF);
  font-size: 18px;
  flex: 0 0 auto;
  border-radius: 42px;
  overflow: hidden;
  padding: 10px 41px 8px 8px;
}

.page__content1 {
  flex-grow: 1;
  background: url('images/Content1_background2.svg');
  max-height: 487px;
  background-size: cover;
  background-repeat: no-repeat;
}

.page__content2 {
  flex-grow: 1;
  background: #f5f5f5;
  height: 893px;
}

.page__content3 {
  flex-grow: 1;
  background: #fff;
  height: 818px;
}

.page__content4 {
  flex-grow: 1;
  background: var(--color-black-181818);
}

.page__content5 {
  flex-grow: 1;
  background: var(--color-white-FFFFFF);
  margin-bottom: 155px;
}

.page__footer {
  flex-shrink: 0;
  background: url('public/images/footer_background.png');
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 120px 0;
  gap: 342px;
  color: var(--color-white-FFFFFF);
}

.footer::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-171px);
  height: 60%;
  top: 30%;
  width: 1px;
  background-color: var(--color-white-FFFFFF);
  opacity: 0.3;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 31px;
}

.footer__logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 0 0 auto;
  font-size: 30px;
}

.footer__item-logo {
  margin: 0;
  flex: 0 0 auto;
  font-size: 20px;
}

.footer__content {
  display: flex;
  align-items: flex-start;
  gap: 110px;
  flex: 0 0 auto;
  flex-direction: row;
}

.footer__column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__column-title {
  position: relative;
  margin: 0;
  font-size: 18px;
  color: var(--color-white-FFFFFF);
}

.footer__column-title::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #ffcc4a;
  border-radius: 2px;
}

.footer__column-title[style*='padding-left: 30px']::after {
  left: 30px;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.footer__list-item {
  color: var(--color-white-FFFFFF);
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__address-text {
  margin: 0;
  color: var(--color-white-FFFFFF);
}

.footer__button {
  background: var(--color-white);
  color: var(--color-black);
  border-radius: 42px;
  overflow: hidden;
  padding: 15px;
}

.footer__bottom {
  position: relative;
  justify-content: center;
  display: flex;
  width: 100%;
  align-items: center;
  color: var(--color-white-FFFFFF);
  padding: 20px 0;
}

.footer__bottom-text {
  align-items: center;
  color: var(--color-white-FFFFFF);
}

.footer__bottom::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 1px;
  background-color: var(--color-white-FFFFFF);
  opacity: 0.3;
}

.item {
}

.item__banner {
  padding: 143px 260px;
}

.item__banner1 {
  border-radius: 20px;
  padding: 0 15px;
  width: 182px;
  height: 24px;
  background: #ffcc4a;
}

.item__banner2 {
  border-radius: 29px;
  padding: 48px 60px;
  width: 465px;
  height: 199px;
  backdrop-filter: blur(11px);
  background: rgb(255 255 255 / 85%);
  color: #181818;
}

.item__banner3 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 116%;
}

.item__banner4 {
  border-radius: 20px;
  padding: 0 15px;
  width: 182px;
  height: 24px;
}

.item__banner-padding {
  height: 487px;
}

.item__services {
  height: auto;
}

.item__services-text {
  /* width: 1607px; */
  align-items: flex-start;
  padding: 149px 156px 70px;
}

.item__servicies-text-title {
  /* width: 1197px; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 225px;

  /* padding-top: 150px; */
}

.item__servicies-text-title-title {
  width: 648px;

  /* height: 225px; */

  /* flex: 1; */
}

.item__services-text1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 116%;
  color: var(--color-black-181818);
}

.item__services-text2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: var(--color-gray-595566);
}

.item__servicies-text-title-navigation1 {
  display: flex;
  flex-direction: row;

  /* gap: 10px;  */
  align-items: center;

  /* border-radius: 100%;
  overflow: hidden; */
}

.item__services-navbutton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__services-content-block1 {
  border-radius: 20px;
  padding: 44px 35px;
  width: 345px;
  height: 247px;
  background: #ebebeb;

}

.item__services-content-block2 {
  border-radius: 20px;
  padding: 45px 33px;
  width: 379px;
  height: 301px;
  background: #181818;
}

.item__services-content-block3 {
  border-radius: 20px;
  padding: 45px 39px;
  width: 377px;
  height: 279px;
  background: #ebebeb;
}

.item__services-content-block4 {
  border-radius: 20px;
  padding: 37px 39px;
  width: 377px;
  height: 271px;
  background: #ebebeb;
}

.item__services-text3 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 25px;
  line-height: 116%;
  color: #181818;
}

.item__services-text4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #595566;
}

.item__services-text5 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 25px;
  line-height: 116%;
  color: #fff;
}

.item__services-text6 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #fff;
}

.item__services-text7 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 25px;
  line-height: 116%;
  color: #181818;
}

.item__services-text8 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #595566;
}

.item__services-text9 {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 25px;
  line-height: 116%;
  color: #181818;
}

.item__services-text10 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #595566;
}

.item__services-text11 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #181818;
}

.item__services-text12 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 116%;
  color: #181818;
}

.item__services-text13 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #595566;
}

.item__services-text14 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 116%;
  color: #595566;
}

.item__services-content {
  display: flex;
  flex-direction: row;
  padding-bottom: 152px;
  gap: 43px;
}

.item__whattoexpect {
  display: flex;
  flex-direction: row;
  width: 1292px;
  height: 622px;
  padding: 80px 0;
  gap: 82px;
}

.item__whattoexpect2 {
  display: flex;
  flex-direction: column;
  width: 481px;
  height: 317px;
}

.item__services-row {
  display: flex;
  flex-direction: row;
}

.item__whattoexpect-bg {
  border-radius: 20px;
  padding: 0 12px;
  width: 249px;
  height: 24px;
  background: #ffcc4a;
}

.clientlogos {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-left: 60px;
  padding-bottom: 56px;
  opacity: 0.51;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 152px 0;
}

.video__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.video__title-bg {
  border-radius: 20px;
  padding: 0 12px;
  width: 151px;
  height: 24px;
  align-items: center;
  color: var(--color-white-FFFFFF);
  background: var(--color-green-4EAF4E);
}

.video__title-text {
  font-weight: 700;
  font-size: 45px;
  line-height: 116%;
  text-align: center;
  color: #fff;
  width: 522px;
}

.contact {
  display: flex;
  flex-direction: row;
  padding: 197px 0 147px;
  gap: 69px;
}

.contact__data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 56px;
  width: 504px;
}

.contact__data-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.contact__data-text-bg {
  border-radius: 20px;
  padding: 0 12px;
  width: 97px;
  height: 24px;
  background: #ffcc4a;
}

.contact__data-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact__data-info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.contact__data-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__data-info-content-title {
  font-size: 16px;
  line-height: 148%;
  color: #595566;
  margin: 0;
}

.contact__data-info-content-text {
  font-size: 20px;
  line-height: 116%;
  color: #181818;
  margin: 0;
}

.contact__data-info-content-text1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 116%;
  color: #181818;
}

.contact__data-info-content-text2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #595566;
}

.contact__image {
}

.faq {
  background: #f5f5f5;
  border-radius: 30px;
  padding: 151px 236px;
  width: 1197px;
  height: 925px;
}

.faq__padding {
  width: 725px;
  height: 623px;
}

.faq__padding1 {
  width: 100%;
  max-width: 478px;

  /* height: auto;  */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;

  /* padding: 155px 0px; */
}

.faq__text1 {
  background: #4eaf4e;
  border-radius: 20px;
  padding: 0 19px;
  width: 75px;
  height: 24px;
  text-align: center;
}

.faq__block {
  display: flex;
  flex-direction: row;
  gap: 222px;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px solid #dadada;
  width: 720px;
}

.faq__block-text2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #595566;
  padding: 20px 0;
  border-bottom: 1px solid #dadada;
  width: 720px;
  margin: 0;
  margin-bottom: 20px;
}

.faq__text11 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.faq__block1 {
  display: flex;
  flex-direction: row;
  gap: 222px;
  justify-content: space-between;
  padding: 30px 0;
  width: 720px;
}

.faq__text2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 45px;
  line-height: 116%;
  text-align: center;
  color: #181818;
  width: 720px;

  /* margin-bottom: 40px;  */
}

.faq__block-text {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 116%;
  color: #181818;
}

.faq__block-text2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 148%;
  color: #595566;
}
