.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page__topbar {
  flex-shrink: 0;
  background-color: var(--color-black-181818);
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 0;
}

.topbar__icon {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.topbar__text {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  color: var(--color-white-FFFFFF);
}

.topbar__group {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 10px;
}

.topbar__follow {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
}

.topbar__social {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 0 0 auto;
}

.page__header {
  flex-shrink: 0;
  background-color: var(--color-black-1B1B1B);
  opacity: 0.91;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

.header__item {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 0 0 auto;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 11px;
  flex: 0 0 auto;
}

.header__logo__text {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  color: var(--color-white-FFFFFF);
  font-size: 30px;
}

.header__navbar {
  display: flex;
  align-items: center;
  gap: 30px;
  flex: 0 0 auto;
}

.header__navbar__home {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 8px;
  color: var(--color-green-5AB612);
  font-size: 18px;
}

.header__navbar__item {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 0 0 auto;
  color: var(--color-white-FFFFFF);
  font-size: 18px;
}

.header__phone {
  display: flex;
  align-items: center;
  gap: 11px;
  color: var(--color-black-353535);
  background: var(--color-white-FFFFFF);
  font-size: 18px;
  flex: 0 0 auto;
  border-radius: 42px;
  overflow: hidden;
  padding: 10px 41px 8px 8px;
}

.page__content {
  flex-grow: 1;
}

.page__footer {
  flex-shrink: 0;
  background: rgba(24, 24, 24, 0.9);
}
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 40px 360px;
  /* height: 488px; */
}
.footer__item-content {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 0 0 auto;
  flex-direction: row;
}
.footer__item-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 0 0 auto;
  flex-direction: row;
}
/* .footer__item-logo-2{
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 0 0 auto; */

.footer__item-content-content {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 0 0 auto;
  flex-direction: column;
}
.footer__item-content-content-text {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 0 0 auto;
  /* flex-direction: row; */
}

.footer__item-content-content-button {
  background: var(--color-white);
  color: var(--color-black);
  border-radius: 42px;
  overflow: hidden;
  padding: 23px;
}
